@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Roboto:wght@300&display=swap%27');


:root{
    --principal-bg-color: #00796B;
    --secundario-bg-color: #054B43;
    --fondo-bg-color: #4D4F51;
    --fondo-secundario-bg-color: rgba(0, 0, 0, 0.566);
}



*{
    font-family: 'Roboto', sans-serif;
    
}
.container-principal{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
}
.news-container{
    width: 800px;
    color:#ffff;
    text-align: center;
    display: inline-block;
    background-color: var(--fondo-secundario-bg-color   ) ;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    border-radius: 8px;
}

.news-container p{
    text-align: justify ;
    line-height: 30px;
}

.news-container img{
    border-radius: 8px;
    width: 100%;
}

.news-container h5{
    display: flex;
    align-items: initial;
}

.aside-container{
    margin-top:20px;
    width: 250px;
    color: #ffff;
    background-color: var(--fondo-secundario-bg-color);
    text-align: center  ;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    
}

.aside-container img{
    width: 90%;
    position: relative;
    align-items: center;
    border-radius: 8px;
    
}

.aside-card{
    margin-top: 15px;
}

.aside-card h3{
    padding: 15px;
    
}

.aside-card:hover{
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    opacity: 0.96;
    cursor: pointer;
}


@media(max-width:1000px){
    .aside-container{
        display: none;
    }
}

@media(max-width: 700px){
    .news-container{
        width: 450px;
    }

    .news-container img{
        width: 400px;
    }
}

@media(max-width: 700px){
    .news-container{
        width: 450px;
    }

    .news-container img{
        width: 400px;
    }
}

@media(max-width: 500px){
    .news-container{
        width: 350px;
    }

    .news-container img{
        width: 300px;
    }
}
